* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

/* COLUMS */

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}


/* HEADER JUNK */

header .img-fluid {
  width: 46px;
  height: 46px;
  border-radius: 15%;
  overflow: hidden;
  margin-top: -6px;
}
header nav {
  background-color: #2B2B2B;
  display: flex;
  padding: 7px;

}
header nav ul {
  list-style-type: none;
  display: flex;
}
header nav ul li {
  margin: 0 10px;
  padding-top: 10px;
}
header nav ul li a {
  color: #DEDEDE;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #A456B9;
  transition: 0.5s;
}
header nav .icons {
  display: flex;
 
}

.active {
  color: #A456B9;
}

.img-icons {
  width: 30px;
  height: 30px;
  border-radius: 15%;
  overflow: hidden;
  margin-top: -6px;
}

/* INDEX MAIN */

main section {
  width: 25%;
  padding: 10px;
  margin: 15px 0 15px 0;
  float: left;
  font-style: italic;
  background-color: lightgray;
}
main section .myface {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
}
main section .myface img {
  width: 50%;
  border-radius: 50%;
  overflow: hidden;
  
}

.skillset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 0px 40px 0;
}

.skillbubble {
  text-decoration: none;
}

.socials ul{
  list-style-type: none;
  display: flex;
  padding-top: 30px;
}

.socials ul li{
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.socials ul li a{
  text-decoration: none;
  color: black;
}

.socials ul li a:hover{
  color: #A456B9;
  transition: 0.5s;
}

/* GALLERY FROM https://timnwells.medium.com/create-a-simple-responsive-image-gallery-with-html-and-css-fcb973f595ea  */

#gallery {
  padding: 10px;
  line-height: 0;
  -webkit-column-count: 5; /* split it into 5 columns */
  -webkit-column-gap: 5px; /* give it a 5px gap between columns */
  -moz-column-count: 5;
  -moz-column-gap: 5px;
  column-count: 5;
  column-gap: 5px;
}

#gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 5px; /* to match column gap */
}

@media (max-width: 1200px) {
  #gallery {
    -moz-column-count: 4;
    column-count: 4;
  }
}
@media (max-width: 1000px) {
  #gallery {
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 800px) {
  #gallery {
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 400px) {
  #gallery {
    -moz-column-count: 1;
    column-count: 1;
  }
}
.main-content {
  background-color: #2B2B2B;
}


/* ABOUT ME PAGE */

.aboutme-content{
  display: flex; 
}

.aboutme-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.heading1{
  padding-bottom: 10px;
}
.paragraph1{
  padding-top: 50px;
}

.socialmedia ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.socialmedia ul li{
  margin: 0 10px;
  padding-top: 10px;
}

.img-aboutme{
  width: 100%;
  padding: 10px 0 10px 0;
}
