@import "variables";
@import "reset";

@for $i from 1 through 12 {
    .col-#{$i} {
        width: (100% / 12) * $i ;
    }
}


// INDEX STUFF

header{
    .img-fluid{
        width: 46px;
        height: 46px;
        border-radius: 15%;
        overflow: hidden;
        margin-top: -6px;
    }



    nav{
        background-color: $primary-color;
        display: flex;
        // justify-content: space-between;
        padding: 7px;
        position: sticky;

        ul{
            list-style-type: none;
            display: flex;
            li{
                margin: 0 10px;
                padding-top: 10px;
                
                a{
                    color: $tertiary-color;
                    text-decoration: none;

                   &:hover{
                    color: $secondary-color;
                    transition: 0.5s;
                   }
                }
            }
        }

        .icons{
            display: flex;
            padding-left: 60%;
        }
    }
}

.active{
    color: $secondary-color;
}

.img-icons{
    width: 30px;
    height: 30px;
    border-radius: 15%;
    overflow: hidden;
    margin-top: -6px;
}


main{
    section{
        width: 25%;
        padding: 10px;
        margin:15px 0 15px 0;
        float: left;
        font-style: italic;
        background-color: lightgray;
        
       
            .myface{
                display: flex;
                flex-direction: column;
                padding: 5%;
                    img{
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        overflow: hidden;
                    }
            }

        }

    }
    

.skillset{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

.skillbubble{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px;
    width: 60px;
    margin: 2px;
}

.socials{ 
    display: flex;
}

#gallery {
    padding: 10px;
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
 }

 #gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
 }

 @media (max-width: 1200px) {
    #gallery {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
 }

 @media (max-width: 1000px) {
    #gallery {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
 }

 @media (max-width: 800px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }

 @media (max-width: 400px) {
    #gallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 }


.main-content{
    background-color: $primary-color;
}


// ABOUT ME PAGE BS

main{
    // display: flex;
    // flex-direction: row;

    .img-aboutme{
        width: 500px;
        height: 300px;
    }
}

.aboutme-content{
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 40px;
        padding-top: 5px;
        li{
            flex-grow: 1;
        }
    }
}


